{% include 'base/interna.twig' %}
<h1>Lista de máquinas</h1>
<ul class="vm-domains">
{% for dominio in dominios %}
    <li>
        <a href="/dominios/editar/{{ dominio.getName }}" class="link-ajax"><img src="/app/assets/images/pc-icon.png" style="width: 80px; height: 80px;" />
            <ul>
                <li><strong>{{ dominio.getName() }}</strong></li>
                <li><strong>Memória:</strong> {{ (dominio.getMemory() / 1024 ) }} / {{ (dominio.getMaxMemory() / 1024 ) }} MB</li>
                <li><strong>Número de vCPU:</strong> {{ dominio.getCpu() }}</li>
                <li><strong>Média consumo CPU:</strong> {{ dominio.getCpuAvg() }}</li>
                <li><strong>Ativa desde:</strong> {{ dominio.getStartTime().format('d/m/Y H:i:s') }}</li>
            </ul>
        </a>
    </li>
{% endfor %}
</ul>
<div style="clear: both;"></div>